body {
            margin: 0;
            padding: 0;
        }
        #refreshBox {
            z-index: 2;
            position: fixed;
            bottom: 10px;
            right: 10px;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        #myIframe {
            width: 100vw;
            height: 100vh;
            border: none;
            position: absolute;
            top: 0;
            left: 0;
        }
